.container-contacte {
    height:auto;
    width: 80%;
    display: flex;    
    justify-content: center;
    padding-bottom: 2cm;
    margin-bottom: 1cm;
    flex-direction: column;
    align-items: center;
    background-color: #ecf5ef;        
    box-shadow: 0px 20px 20px 5px rgb(0, 14, 6);
}

.div-container {
    display: flex;
    justify-content: center;
    padding-top:1cm;    
    margin:0 cm;
    background-color: rgb(247, 255, 246);
    height: auto;
    width: 90%;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1cm;     
}

.content {
    width: 65%;
}
.text-contact {
    font-size: 20px;
    margin-top:1cm;
}

.text-contact2 {
    font-size: 20px;
    margin-bottom:0cm;
}

.wrapper {
    margin:0cm;
    padding: 0.5cm;
    background-color: rgba(7, 81, 35, 0.166);
    font-size: 18px;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%
}

.input-form {
    margin-top: -0.2cm;
    margin-left: 0cm;
    border-radius: 2px;
    border: 1px solid rgb(5, 5, 26);
    width: 6cm;
    height: 0.5cm;
}

textarea {
    width: 98%;
    height: 3cm;
    resize: none;
}

.redes2 {
    margin-right:0.5cm;
}

.submit-button {
    margin:0cm;
    margin-top:1cm;
    border: none;
    padding: 0.3cm;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    background-color: #001704;
    color:white;
    cursor: pointer;
    transition: color 0.4s;
}

.submit-button:hover {
    background-color: #e3e3e3;
    color: #001704;  
    transition: color 0.3s;
    transition: background-color 0.3s;
}


@media (max-width: 425px) {

    .input-form{
        width: 80%;
    }
}