.div-video {
    background-color: #ecf5ef;
    height:auto;
    width: 80%;
    margin:0cm;
    display: flex;
    justify-content: center;
    padding-bottom: 2cm;
    margin-bottom: 1cm;    
    box-shadow: 0px 20px 20px 5px rgb(0, 14, 6);
}

.article {
    padding-top:1cm;
    display: flex;
    justify-content: center;
    margin:0 cm;
    background-color: rgb(247, 255, 246);
    height: 15cm;
    width: 90%;
    padding-bottom: 1cm;
    
}
.p-inici {
    font-size:40px;
    color: #001704;
    font-weight: 700;
}