
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: none;      
    width: 100%;
    background: url(D:\Escritorio\Programació\REACT\tf\Final-Project\src\assets\img\vaq1.jpg) no-repeat center center; 
    
}

.div-content { 
    height: 15cm;    
    width: 100%;    
    display: flex ;
    justify-content: space-between;
    align-items: center;
    
        
}

.filter-nav {
    background-color: #08080850;
    display: flex ;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.logo {
    
    height: 10cm;
    padding: 0.5cm 0cm 0.5cm 2cm;
    cursor: pointer;
}
.div-redes{
    display: flex ;
    flex-direction: column;
}


.parent {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-size: 20px;   
    font-weight: bold; 
    color:#0E421E;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #ecf5ef;
}
    
.div1 { 
    background-color: #001704;
    color:white;
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    transition: color 0.5s;
    transition: background-color 0.5s;
    cursor: pointer;

}

.div2 { 
    background-color: #001704;
    color:white;
    grid-area: 1 / 2 / 2 / 3; 
    text-align: center;
    transition: color 0.5s;
    transition: background-color 0.5s;
    cursor: pointer;
}

.div3 { 
    background-color: #001704;
    color:white;
    grid-area: 1 / 3 / 2 / 4; 
    text-align: center;
   
    transition: color 0.5s;
    transition: background-color 0.5s;
    cursor: pointer;
}

.div4 { 
    background-color: #001704;
    color:white;
    grid-area: 1 / 4 / 2 / 5;  
    text-align: center;
    transition: color 0.5s;
    transition: background-color 0.5s;
    cursor: pointer;
}

.div5 {
    background-color: #001704;
    color:white;
    grid-area: 1 / 5 / 2 / 6; 
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom:1px solid #001704;
    transition: color 0.5s;
    transition: background-color 0.5s;   
    justify-content: center;
}

.div1:hover{
    background-color: #e3e3e3;
    color: #001704; 
    transition: color 0.5s;
    transition: background-color 0.5s;
}

.div2:hover {
    background-color: #e3e3e3;
    color: #001704; 
    transition: color 0.5s;
    transition: background-color 0.5s;

}
.div3:hover {
    background-color: #e3e3e3;
    color: #001704; 
    transition: color 0.5s;
    transition: background-color 0.5s;
}
.div4:hover {
    background-color: #e3e3e3;
    color: #001704;  
    transition: color 0.5s;
    transition: background-color 0.5s;
}
.div4::after {
    background-color: #e3e3e3;
    color: #001704; 
    transition: color 0.5s;
    transition: background-color 0.5s;
}

.redes {
    cursor: pointer;
    margin-right:0.5cm;
}



.no-underline {
    text-decoration: none;
}