.calendar {
    display: flex;
    flex-direction: row;
}

.big-calendar{

    width: 1100px;    
    margin: 50px 
}

@media (max-width: 425px) {

    .calendar{
        flex-direction: column;
    } 
    
    .big-calendar {
        width: 100%;
    }
}